/*
 * Estilos reutilizables
 */

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.text-uppercase {
    text-transform: uppercase;
}


/* HEADER*/

.link {
    /*Se le aplica un font-weight para convertir en bold al texto*/
    font-weight: 700;
    /*Se le agrega padding para agregar un espacio entre los textos*/
    padding: 21px;
    /*crea cajas que son de bloque y en línea de forma simultanea*/
    display: inline-block;
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    background: #2c3e50;
    width: 100%;
    top: 0;
}

.menu {
    padding: 14px 70px;
    overflow: auto;
}

a:hover {
    background-color: #18bc9c;
}

.menu .left {
    float: left;
    /*Se le aplica un font-weight para convertir en bold al texto*/
    font-weight: 700;
    font-size: 20px;
}

.menu .right {
    float: right;
    font-weight: 700;
    font-size: 15px;
}


/*Caja 1*/

.box-one img {
    padding: 24px;
    margin-left: 36%;
    margin-top: 10%;
}

.box-one p {
    color: white;
    text-align: center;
    font-size: 38px;
    font-weight: 700px;
}


/*Caja 2 Fotografias*/

.container p {
    color: black;
    text-align: center;
    font-size: 38px;
    font-weight: 700px;
    padding: 3%;
}

.container {
    background: white;
}

img {
    vertical-align: middle;
}
/*LInea abajo del título*/
.underline{
    padding: 20px;
}